<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Recommended SEO tags -->
        <meta name="description"
              content="A sample Django website for banking management." />
        <meta name="keywords" content="django, banking, finance, web app" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
